.buttonLookbook {
  background-color: #a88d7b;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 10px;
  margin: 4px 2px;
  margin-bottom: 50px;
  opacity: 1;
  transition: 0.3s;
  border-radius: 4em; }
  .buttonLookbook :hover {
    opacity: 0.6; }

.button-extraExtra {
  background-color: #a88d7b;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 10px;
  margin: 4px 2px;
  margin-top: 20px;
  opacity: 1;
  transition: 0.3s; }
  .button-extraExtra :hover {
    opacity: 0.6; }

.button-mail {
  background-color: #a88d7b;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 10px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s; }
  .button-mail :hover {
    opacity: 0.6; }

.button-add-to-cart {
  background-color: #a88d7b;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 10px;
  transition: 0.3s;
  transform: translateY(80px); }
  .button-add-to-cart :hover {
    opacity: 0.6; }

.icon {
  text-align: center;
  font-size: 1em;
  padding: 5px 0; }

.icon-in-contact {
  font-size: 2em;
  padding: .5em 0; }

.lnr-chevron-down:before {
  content: "\e874";
  font-size: x-large; }

.lnr-heart:before {
  float: right;
  font-size: 20px; }

.lnr-chevron-right:before {
  content: "\e876";
  font-size: 12px; }

* {
  scroll-behavior: smooth; }

body {
  margin: 0 auto; }

header {
  background: #2d2827;
  color: #999999;
  height: 2vh;
  text-align: center;
  font-size: .7em;
  padding: 1em 0;
  font-family: "Dosis", sans-serif; }
  header ul {
    padding: 0; }

nav {
  font-family: "Dosis", sans-serif;
  font-size: 15px;
  padding: 2em 0; }
  nav a {
    padding: 0;
    text-decoration: none;
    color: white; }

footer {
  background-color: #2d2827;
  font-family: 'Source Sans Pro', sans-serif; }
  footer ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0; }
    footer ul li {
      display: list-item;
      color: #999999;
      padding: 10px 0; }
  footer a {
    color: #999999;
    text-decoration: none; }
    footer a :hover {
      color: white;
      text-decoration: underline; }

h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.96;
  letter-spacing: normal;
  text-align: center;
  color: #ffff; }

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  margin-top: 0;
  padding-top: 40px; }

h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.92;
  letter-spacing: 2.5px;
  text-align: center;
  color: #a88d7b; }

h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.92;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
  margin: 0; }

a {
  color: white;
  text-decoration: none; }

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

li {
  display: inline;
  padding: 0 5px; }

form {
  padding: 30px 0; }

input {
  width: 47%;
  vertical-align: middle;
  margin: 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd; }

textarea {
  width: 98%;
  height: 20vh;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; }

.leftHeader {
  position: absolute;
  left: 10vw; }

.rightHeader {
  position: absolute;
  right: 10vw; }

.home-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/home/home.gif");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fffefe;
  height: 100vh; }

.home-hero-text {
  text-align: center;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  color: white;
  padding: 0 20rem;
  background: red; }

.search,
.nav-links,
.cart {
  position: absolute; }

.search {
  left: 5vw;
  top: 3rem; }

.nav-link-options ul {
  padding: 1em 0; }
  .nav-link-options ul li {
    padding: 0 1em; }

.left-nav-links {
  text-align: right; }

.right-nav-links {
  text-align: left; }

.logoName {
  font-family: "Dosis", sans-serif;
  font-size: 2em;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: #fffefe; }

.cart {
  right: 5vw;
  top: 3rem; }

.lineHeading {
  width: 30px;
  background: #a88d7b; }

.section-in-main {
  padding: 1em 10em; }

.alignment {
  text-align: center; }

.alignment-left {
  text-align: left !important; }

.heading-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 0;
  color: #333333; }

.sub-heading-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: #999999; }

.featured-product-section {
  background: #f5f5f5; }

.product,
.collection {
  height: 310px; }

.blogImg {
  height: 400px; }

.gif-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/products/adidas-hoodie.gif");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.extra-clothing-item-heading {
  font-family: "Dosis", sans-serif;
  font-size: 2.1em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.96;
  letter-spacing: normal;
  text-align: center;
  color: #ffff; }

.extra-clothing-item-description {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff; }

.post {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #666666; }

.readMore {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.92;
  letter-spacing: 2.5px; }
  .readMore a {
    text-decoration: none;
    color: #a88d7b;
    font-size: 10px; }

.other-header {
  background-color: #eeeeee;
  color: #999999;
  height: 20px;
  text-align: center;
  font-size: 12px;
  font-family: 'Dosis', sans-serif;
  padding: 10px; }

.topnav {
  width: 100%;
  height: 50px;
  background: #ffffff; }
  .topnav a {
    color: black;
    margin: 0;
    padding: 0; }
  .topnav ul {
    padding: 20px 0;
    position: absolute;
    right: 15vw; }
    .topnav ul li {
      padding: 0 10px; }

.logoDark {
  height: 50px;
  float: left;
  padding-top: 5px;
  padding-left: 200px; }

.hero {
  background: #666666;
  height: 445px; }

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; }

.hero-heading {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 5px;
  text-align: center;
  color: #ffffff; }

.breadcrumb {
  font-family: 'Source Sans Pro', sans-serif;
  padding-left: 0; }
  .breadcrumb ul {
    list-style-type: none;
    margin: 0; }
    .breadcrumb ul li {
      display: inline; }

.currentPage {
  color: #a8a8a8; }

.other-main {
  padding: 1em 10em; }

.about-hero {
  background: url(../img/hero/about-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 31%;
  height: 445px; }

.who-we-are-img {
  height: 400px;
  background-color: #666666; }

.who-we-are-description {
  font-size: 15px;
  line-height: 1.67;
  text-align: left;
  color: #666666;
  padding: 20px 0; }

.what-we-do-img {
  height: 400px;
  background-color: #666666; }

.member {
  height: 250px;
  background-color: #666666; }

.what-we-do-description {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  padding: 3em 0;
  letter-spacing: normal;
  text-align: left;
  color: #666666; }

.contact-hero {
  background: url(../img/hero/contact-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 35%;
  height: 445px; }

.contact-info {
  width: 100%;
  height: 200px;
  text-align: center;
  border: solid 1px #e6e6e6;
  background-color: #f0f0f0; }

.contact-side {
  padding: 30px;
  border: solid 1px #e6e6e6; }

.middle {
  border: solid 1px #e6e6e6;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  padding: 35px;
  color: #666666; }

.contact-side-heading {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 1.3px;
  text-align: center;
  color: #333333; }

.details {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  padding: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: center;
  color: #666666; }

.blog-hero {
  background: url(../img/hero/blog-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 35%;
  height: 445px; }

.blog-social-media {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #666666;
  border-bottom: solid 1px #e6e6e6; }
  .blog-social-media ul {
    padding: 20px 0; }

.blog-post-img-placeholder {
  background: #999999;
  width: 100%;
  height: 300px; }

.blog-post-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: normal;
  color: #333333; }

.blog-post-date {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.2;
  letter-spacing: normal;
  color: #999999;
  border-bottom: solid 1px #6666; }

.blog-post-description {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #666666; }

.blog-post-read-more {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #706259; }

.shop-hero {
  background: url(../img/hero/shop-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 35%;
  height: 445px; }

.shop-products {
  background: #f5f5f5; }

.shop-product-img {
  background: #666666;
  width: 100%;
  height: 300px; }

.shop-product-heading {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.92;
  letter-spacing: normal;
  text-align: left; }

.shop-product-price {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: normal;
  text-align: left;
  color: #999999; }

.shop-product-description {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #666666; }

.pagination {
  text-align: right;
  padding: 20px 150px; }
  .pagination a {
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    padding: 0 10px;
    color: #999999;
    text-align: center; }

.main-footer {
  background-color: #d7d7d7;
  padding: 20px;
  text-align: center;
  font-size: 10px; }

.footerLogo {
  font-family: 'Dosis', sans-serif;
  font-size: 20px; }

.footer-sub-heading {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #e5e5e5;
  padding: 20px 0; }

.underLogo {
  padding: 10px 25px; }

.widget {
  height: 70px;
  background: #ffffff; }

.home-hero-grids {
  display: grid;
  grid-template-rows: 18vh auto; }

.nav-grids {
  display: grid;
  padding: 0 11em;
  grid-template-columns: auto 18vw auto; }

.product-container,
.collection-container,
.blog-container,
.about-container,
.team-container {
  display: grid;
  grid-gap: 1em;
  padding: 3em 0; }

.product-container {
  grid-template-columns: repeat(3, 1fr); }

.collection-container {
  grid-template-columns: repeat(2, 1fr); }

.blog-container {
  grid-template-columns: repeat(2, 1fr); }

.extra-clothing-item-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 620px auto;
  background-color: #666666;
  padding: 90px;
  padding-bottom: 40px; }

footer {
  display: grid;
  grid-gap: 10px;
  height: auto;
  grid-template-rows: auto auto; }

.footer-info {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 3em 10em; }

.quick-links-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.widget-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto auto auto; }

.other-header {
  display: grid;
  grid-template-columns: auto auto auto; }

.about-container {
  grid-template-columns: repeat(2, 1fr); }

.team-container {
  grid-template-columns: repeat(4, 1fr); }

.contact-info-container {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(3, 1fr); }

.contact-middle-container {
  display: grid;
  grid-gap: 0;
  grid-template-rows: repeat(2, 1fr); }

.blog-articles-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin: 30px 0; }

.blog-post-container {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  text-align: left; }

.shop-product-container {
  display: grid;
  grid-gap: 30px;
  padding: 50px 150px;
  grid-template-columns: 300px auto; }

@media screen and (max-width: 1100px) {
  .section-in-main {
    padding: 1em 5em; }

  .product,
  .collection {
    height: 250px; }

  .about-hero {
    height: 300px; }

  .footer-info {
    padding: 3em 5em; } }
@media screen and (max-width: 1000px) {
  .blog-container {
    grid-template-columns: 1fr; }

  .footer-info {
    grid-template-columns: repeat(2, 1fr); } }
@media screen and (max-width: 768px) {
  .leftHeader {
    left: 5vw; }

  .rightHeader {
    right: 5vw; }

  .logoName {
    font-size: 1.65em;
    left: 40vw; }

  .section-in-main {
    padding: 1em; }

  .product-container,
  .collection-container,
  .blog-container,
  .about-container,
  .team-container {
    padding: 1em 0; }

  .extra-clothing-item-container {
    grid-template-columns: 1fr; }

  .hero-heading {
    font-size: 40px; }

  .team-container {
    grid-template-columns: repeat(2, 1fr); }

  .footer-info {
    grid-template-columns: 1fr; } }
@media screen and (max-width: 500px) {
  .leftHeader {
    left: 0; }

  .rightHeader {
    right: 0; }

  .product,
  .collection {
    height: 280px; }

  .product-container {
    grid-template-columns: 1fr; }

  .collection-container {
    grid-template-columns: 1fr; }

  .about-hero {
    height: 240px; }

  .about-container {
    grid-template-columns: 1fr; }

  .team-container {
    grid-template-columns: 1fr; } }
@media screen and (max-width: 425px) {
  header {
    font-size: .5em; }

  h2 {
    font-size: 25px; }

  .blogImg {
    height: 350px; }

  .hero-heading {
    font-size: 30px; }

  .footer-info {
    padding: 3em .5em; } }

/*# sourceMappingURL=main.css.map */
