.buttonLookbook {
    background-color: #a88d7b;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 10px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
    border-radius: 4em;

    :hover {
        opacity: 0.6
    }
}

.button-extraExtra {
    background-color: #a88d7b;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 10px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;

    :hover {
        opacity: 0.6;
    }
}

.button-mail {
    background-color: #a88d7b;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 10px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;

    :hover {
        opacity: 0.6;
    }
}

.button-add-to-cart {
    background-color: #a88d7b;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 10px; 
    transition: 0.3s;

    :hover {
        opacity: 0.6;
    }
}

.lnr-heart {
    float: right;
}