// .buttonLookbook {
//     background-color: #a88d7b;
//     border: none;
//     color: white;
//     padding: 16px 32px;
//     text-align: center;
//     font-size: 10px;
//     margin: 4px 2px;
//     margin-bottom: 50px;
//     opacity: 1;
//     transition: 0.3s;
//     border-radius: 4em;

//     :hover {
//         opacity: 0.6
//     }
// }

.button-extraExtra {
    background-color: #a88d7b;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 10px;
    margin: 4px 2px;
    margin-top: 20px;
    opacity: 1;
    transition: 0.3s;

    :hover {
        opacity: 0.6;
    }
}

.button-mail {
    background-color: #a88d7b;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 10px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;

    :hover {
        opacity: 0.6;
    }
}

.button-add-to-cart {
    background-color: #a88d7b;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 10px; 
    transition: 0.3s;
    transform: translateY(80px);

    :hover {
        opacity: 0.6;
    }
}

.icon {
    text-align: center;
    font-size: 1em;
    padding: 5px 0;
}

.icon-in-contact {
    font-size: 2em;
    padding: .5em 0;
}

.lnr-chevron-down:before {
    content: "\e874";
    font-size: x-large;
}

.lnr-heart:before {
    float: right;
    font-size: 20px;
}

.lnr-chevron-right:before {
    content: "\e876";
    font-size: 12px;
}