// Responsive Design

@media screen and (max-width:1024px) {
    // LAPTOP

    // =======
    // HEADER
    // =======
    header {
        font-size: 10px;
        padding: 5px;
        height: 15px;
    }

    // =====================================================================
    // HOME PAGE

    // Hero
    .home-hero {
        height: 96vh;
    }

    nav {
        font-size: 10px;
        padding: 20px 0;

        a {
            padding: 0 20px;
        }
    }

    .hero-text {
        top: 55%;
    }

    h1 {
        font-size: 35px;
    }

    // Featured Products
    h2 {
        font-size: 30px;
    }

    .product {
        width: 220px;
        height: 200px;
    }

    h3 {
        font-size: 15px;
    }

    .price {
        font-size: 12px;
    }

    // New Collection
    .collection {
        width: 350px;
        height: 220px;
    }

    h4 {
        font-size: 20px;
    }

    // Extra Clothing Item
    .extraExtra-container {
        padding: 30px;
    }

    // Our Blog Post
    .blogImg {
        width: 360px;
        height: 300px;
    }

    .blogDescription {
        width: 360px;
        height: 300px;
    }

    h5 {
        font-size: 20px;
    }

    .postDate {
        font-size: 12px;
    }

    .post p {
        font-size: 9.5px;
    }
    // =====================================================================

    // =====================================================================
    // =========
    // FOOTER
    // =========
    .footerLogo {
        width: 150px;
    }

    footer ul li {
        font-size: 13px;
    }

    .footer-info {
        grid-template-columns: 250px 100px 100px auto;
    }

    .widget {
        height: 55px;
    }
}

@media screen and (max-width:768px) {
    // TABLET LANDSCAPE

    // ========
    // HEADER
    // ========
    header {
        font-size: 8.5px;
    }
    // ==============================================================================================
    // HOME PAGE
    
    // Hero
    nav {
        font-size: 9.5px;
        padding: 20px 0;
        
        a {
            padding: 0 13px;
        }
    }

    .logoName {
        padding: 0 20px;
        font-size: 25px;
    }

    h1 {
        font-size: 24px;
    }

    .hero-text p {
        font-size: 9px;
    }

    .buttonLookbook {
        padding: 10px 25px;
        font-size: 8px;
    }

    .lnr-chevron-down:before {
        font-size: medium;
    }

    // Featured Products
    h2 {
        font-size: 25px;
    }

    .product-container {
        grid-template-columns: repeat(3, 1fr);
        padding: 20px 50px;
    }

    .product {
        width: 100%;
        height: 200px;
    }

    // New Collection
    .collection-container {
        grid-gap: 15px;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px 50px;
    }

    .collection {
        width: 100%;
        height: 220px;
    }

    h4 {
        font-size: 15px;
    }

    // Extra Clothing Item
    .extraExtra-container {
        grid-template-columns: 1fr;
    }

    .description {
        font-size: 11px;
    }

    // Our Blog Post
    .blog-container {
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px 50px;
    }

    .blogImg {
        width: 100%;
        height: 300px;
    }

    .blogDescription {
        width: 100%;
        height: 250px;
    }

    h5 {
        font-size: 18px;
    }

    .postDate {
        font-size: 10px;
    }

    .post p {
        font-size: 9px;
    }

    // ==============================================================================================
    // ========
    // FOOTER
    // ========
    .footer-info {
        grid-template-columns: auto auto auto auto;
        padding: 50px 50px;
    }

    .footer-info {
        grid-template-columns: auto auto auto auto;
        padding: 50px 50px;
    }

    footer ul li {
        font-size: 10px;
    }

    .underLogo {
        padding: 10px 18px;
        padding-right: 0;
    }

    .widget {
        height: 35px;
    }
}