// ==================
// RESPONSIVE DESIGN

// My responsive design will contain a number of break-points to help accommodate all the styles on most devices.
// ==================

@media screen and (max-width: 1300px) {
    
}

@media screen and (max-width: 1100px) {
    .section-in-main {
        padding: 1em 5em;
    }

    .product, 
    .collection {
        height: 250px;
    }

    .about-hero {
        height: 300px;
    }

    .footer-info {
        padding: 3em 5em;
    }
}

@media screen and (max-width: 1000px) {
    .blog-container {
        grid-template-columns: 1fr;
    }

    .footer-info {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 850px) {

}

// TABLET
@media screen and (max-width: 768px) {
    // ==========
    // HOME PAGE
    // ==========
    
    // HEADER
    .leftHeader {
        left: 5vw;
    }
    
    .rightHeader {
        right: 5vw;
    }

    // NAVBAR IN HERO
    .logoName {    
        font-size: 1.65em;
        left: 40vw;
    }

    .section-in-main {
        padding: 1em;
    }

    .product-container,
    .collection-container,
    .blog-container,
    .about-container,
    .team-container {
        padding: 1em 0;
    }

    .extra-clothing-item-container {
        grid-template-columns: 1fr;
    }

    .hero-heading {
        font-size: 40px;
    }
    
    .team-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-info {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 500px) {
    .leftHeader {
        left: 0;
    }
    
    .rightHeader {
        right: 0;
    }

    .product, 
    .collection {
        height: 280px;
    }

    .product-container {
        grid-template-columns: 1fr;
    }

    .collection-container {
        grid-template-columns: 1fr;
    }

    .about-hero {
        height: 240px;
    }

    .about-container {
        grid-template-columns: 1fr;
    }
    
    .team-container {
        grid-template-columns: 1fr;
    }
}

// MOBILE
@media screen and (max-width: 425px) {
    header {
        font-size: .5em;
    }

    h2 {
        font-size: 25px;
    }

    .blogImg {
        height: 350px;
    }

    .hero-heading {
        font-size: 30px;
    }

    .footer-info {
        padding: 3em .5em;
    }
}