// Home Section Styles
.home {
    // background: url(../img/home/home-2.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
    background-color: #666666;
    color: #fffefe;
    height: 94vh;
}

.logoName {
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: 600;
    padding: 0 30px;
}

// Main Section
.lineHeading {
    width: 30px;
    background: #a88d7b;
}

// Product Section Styles
.myProducts {
    background: #f5f5f5;
}

.product {
    width: 360px;
    height: 310px;
    background-color: #666666;
}

.price {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.2;
    letter-spacing: normal;
    text-align: center;
    color: #999999;
}

// Collection Section Styles
.collection {
    width: 570px;
    height: 370px;
    background-color: #666666;
}

// Extra Item section
.extraExtra {
    text-align: center;
}

.description {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

// Our Blog Section 
.blogImg {
    width: 570px;
    height: 370px;
    background-color: #666666;
}

.blogDescription {
    width: 570px;
    height: 370px;   
}

.postDate {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.2;
    letter-spacing: normal;
    color: #999999;
}

.post {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
}

.readMore {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: 2.5px;

    a {
        text-decoration: none;
        color: #a88d7b;
        font-size: 10px;
    }
}

// Footer Section
.main-footer {
    background-color: #d7d7d7;
}

.footerLogo {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.footer-sub-heading {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #e5e5e5;
}

.widget {
    width: 20px;
    height: 20px;
    background: #ffffff;
}

// ----------------------------------------------------------------------------------------------------------------------------
// ABOUT PAGE STYLES

.other-header {
    background-color: #eeeeee;
    color: #999999;
    height: 20px;
    text-align: center;
    font-size: 12px;
    font-family: 'Dosis', sans-serif;
    padding: 10px;
}

.who-we-are-img {
    width: 570px;
    height: 450px;
    background-color: #666666;
}

.who-we-are-description {
    width: 570px;
    height: 450px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
}

.what-we-do-img {
    width: 570px;
    height: 450px;
    background-color: #666666;
}

.what-we-do-description {
    width: 570px;
    height: 450px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
}