// Home Section Styles
.home {
    background: url(../img/home/home-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 94vh;
}

.logoName {
  width: 117px;
  height: 21px;
  font-family: Dosis;
  font-size: 30px;
  font-weight: 600;
  color: #fffefe;
}