// Font variables
$Dosis: 'Dosis', sans-serif;
$SansPro: 'Source Sans Pro', sans-serif;

// Color variables
$grey-dark: #2d2827;
$grey-light: #999999;
$grey-white: #f5f5f5;
$grey-dark-text: #333333;
$grey-light-text: #999999;
$white-text: #fffefe;